.carousel-inner {
  max-height: 80vh !important;
}

.about-header {
  text-align: center;
}

#about {
  margin-top: 10vh;
}

.parallax {
  width: 100vw;
  position: fixed;
  z-index: -100;
}

.frame {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

section {
  flex: 0 0 auto;
}
