.carousel-inner {
  max-height: 80vh !important;
}

#solas_logo {
  font-weight: 800;
  color: #000;
}

.nav-item {
  font-weight: 100;
  color: #000;
}

.nav-item:hover {
  color: coral;
}

.carousel-inner > .inner > img {
  margin: auto;
  width: 100%;
}

.about-heading {
  text-align: center;
}

#about {
  height: 100vh;
}

.about-image-container {
  height: 100%;
  width: 100%;
}

#about-img {
  height: 100%;
  width: 100%;
}

.heading-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.heading-contain {
  text-align: center;
}

#cta {
  margin: 0;
  height: 50vh;
}

#email {
  background-color: transparent;
  color: blue;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 0;
}

#cta-heading {
  text-align: center;
}
