* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;
  font-size: 16px;
}

h1 {
  font-family: 'Playfair Display', cursive;
  font-size: 2rem;
}

.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex: 1;
}

.hero-image {
  background-image: url(https://source.unsplash.com/561igiTyvSk);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

.grid-item {
  position: relative;
  height: 50vh;
  border: 1px solid rgba(240, 240, 240, 0.2);
}

.grid-item:hover {
  cursor: pointer;
}

.catergory {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
}

.nav:hover {
  background-color: transparent;
}

.nav {
  position: relative;
}

.nav-info {
  position: absolute;
  top: 15px;
  left: 15px;
}

.nav-info h2 {
  font-size: 2rem;
  color: #fff;
}

.nav-info ul li a {
  margin: 10px 0;
  line-height: 1.5;
  color: #fff;
}

.heading {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 3rem;
  color: #fff;
}

.hover-detail {
  display: none;
  position: absolute;
  top: 60px;
  left: 15px;
}

.hover-detail h2 {
  font-size: 3rem;
  font-family: 'Playfair Display', cursive;
  color: #fff;
}

.hover-detail p {
  margin: 15px 0;
  color: #fff;
}

.hover-detail a {
  padding-bottom: 5px;
  color: #000;
  border-bottom: 3px solid #000;
}

.hover-detail a:hover {
  cursor: pointer;
  color: #fff;
  border-bottom: 3px solid #fff;
}

/* CONTENT */

.container {
  margin: 0 auto;
  width: 80%;
}

.image {
  width: 100%;
  max-height: 500px;
}

.image-2 {
  height: 100%;
  max-width: 500px;
  margin-top: 10px;
}

.section-one,
.section-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 0;
}

.content-one,
.content-two {
  flex: 1;
  flex-basis: 45%;
}

.content-two {
  order: 2;
  margin-left: 20px;
}

.content-one h1,
.content-two h1 {
  font-size: 4rem;
}

.content-one p,
.content-two p {
  margin: 30px 0;
}

.content-one-img,
.content-two-img {
  flex: 1;
  flex-basis: 50%;
}

.content-link {
  padding-bottom: 5px;
  border-bottom: 3px solid lightseagreen;
  color: lightseagreen;
}

.content-link:hover {
  color: #000;
  border-bottom: 3px solid #000;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-content p {
  line-height: 1.5;
}

.carousel-header {
  text-align: center;
}

.carousel-header h1 {
  font-size: 4rem;
}

.link {
  margin: 20px 0;
}

.carousel {
  margin: 20px auto 60px;
}

.carousel-item img {
  max-height: 450px;
  min-width: auto;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #000;
  margin-top: 60px;
}
.footer-heading h1 {
  color: #fff;
  margin-top: 40px;
  font-size: 2.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign_up-form {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  flex-wrap: wrap;
}

.sign_up-form input[type='submit'] {
  margin-top: 10px;
  color: #20b2aa;
  background-color: transparent;
  max-width: 75px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 3px solid #20b2aa;
  font-size: 1.25rem;
}

.sign_up-form input[type='submit']:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.sign_up-form input[type='text'] {
  margin-right: 10px;
}

.sign_up-form input::placeholder {
  color: #a8a8a8;
  opacity: 1;
}

.form-container {
  flex: 1;
  flex-basis: 100%;
  width: 100%;
}

.form-container h2 {
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Playfair Display', cursive;
}

.sign_up {
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 10px 5px;
  flex: 1;
  flex-basis: 100%;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.contact-info p {
  color: #a8a8a8;
  line-height: 1.5;
  width: 75%;
  margin: 20px 0;
}

.contact-info {
  flex: 1;
  flex-basis: 100%;
}

.icon-container {
  color: #fff;
}

.copyright {
  color: #a8a8a8;
  font-size: 0.75rem;
  margin-top: 20px;
}

.copyright a {
  font-size: 0.75rem;
  text-decoration: underline !important;
}
